/* MAIN APP */

.App{
  display: inline;
}


.top-bg{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  justify-items: center;
  position: static;
  padding-top: 15%; */
  /* width: 100%;
  height: 100%; */
}

.main-Title{
  /* font-family: 'Antipasto Pro', sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
}

/* .main-Title:hover{
  -webkit-transform:scale(1.1);transform:scale(1.1);transition-duration: 200ms;
} */

.main-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vh;
  height: auto;
  /* background-color: lightgrey; */
  justify-items: center;
  position: relative;
}

/* LOGO */
.logo {
  height: 15%;
  width: 15%;
}

/* .logo:hover {
  -webkit-transform:scale(1.1);transform:scale(1.1);transition-duration: 200ms;
} */

/* IDEA CONTAINER */



/* BARRA BUSQUEDA */

.search-container{
  display:flex;
  justify-content: space-between;
  max-width: 400px;
  width:100%;
  margin-top: 30px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
}

.form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  width: 100%;
}

.Barra-busqueda {
  position: relative;
  border: 0;
  margin: 10px;
  font-size: 2vh;
  border-radius: 5px;
  text-align: center;
  color: #282c34;
  box-shadow: none;
  text-shadow: none;
  left: 24%;
  outline: none;
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

}

.Barra-busqueda:focus{
  background-color: white;
  border: 0;
} 

.Barra-busqueda::placeholder {
  font-size: 0.9em;
  padding-left: 2%;
}

.submit-button{
  position: relative;
  border: none;
  background-color: white;
  right: 2%;
}
.text {
  background-color: black;
}

.party-name-text {
  font-weight: 500;
}

/* PROGRESS BAR */
.progress-wrapper {
  display: none; /* Initially hidden */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px; /* Adjust based on your layout */
}

.progress-wrapper.appear {
  display: flex; 
}

.progressBar {
  width: 55%;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  opacity: 1; /* Ensure the progress bar is visible */

  &::-webkit-progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
  }

  &::-webkit-progress-value {
    background-color: #76c7c0;
    border-radius: 5px 0 0 5px;
    transition: width 1s ease-in-out;
  }

  &::-moz-progress-bar {
    background-color: #76c7c0;
    border-radius: 5px 0 0 5px;
    transition: width 1s ease-in-out;
  }
}
/* ANIMACIONES */
.appear {
  opacity: 1;
  visibility: visible;
}

.disappear {
  opacity: 0;
  visibility: hidden;
}

.moved.appear {
  transform: translateY(-100px);
}

.moved {
  transition: 1s;
  transform: translateY(-15%);
}

.finishedLoading {
  opacity: 0;
}

.loading {
  opacity: 1;
}

/* FONTS */

@font-face {
  font-family: 'Antipasto Pro';
  src: url('../assets/fonts/AntipastoPro_trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@use postcss-preset-env {
  stage: 0;
  preserve: false;
  browsers: [
    "last 1 Chrome versions",
    "last 1 Firefox versions",
    "last 1 Safari versions",
    "last 1 Edge versions"
  ]
}

/* SCROLL MAGIC */
/* In your App.css or a similar CSS file */
/* .spacer {
  height: 100vh;
}

.trigger {
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animate {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
} */


/* BACKGROUND */

.noise-background {
  /* background-image: url('../photo-1614850523011-8f49ffc73908.avif');  */
  /* background-image: url('../photo-1619779854918-013a8e70452a.avif'); */
  background-image: url('../istockphoto-1432473911-170667a.webp');
  /* background-image: url('../'); */
  /* background-image: url('../'); */
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure it stays in the background */
}

.suggest-card {
  /* overflow: hidden; */
}

.suggest-card:hover {
    /* -webkit-transform:scale(1.3);transform:scale(1.3);transition-duration: 300ms; */
}
